<ion-content class="recover-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4" class="recover-container">
        <h1 class="welcome-title">Recupera tu Contraseña</h1>
        <h2 class="subtitle">Introduce tu correo y nueva contraseña</h2>
        <ion-icon name="key-outline" class="recover-icon"></ion-icon>
        <form (ngSubmit)="resetPassword()" class="recover-form">
          <ion-item class="input-item">
            <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-icon name="lock-closed-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input [(ngModel)]="nuevaContrasena" name="nuevaContrasena" type="password" required></ion-input>
          </ion-item>
          <ion-button expand="full" color="primary" type="submit" class="reset-button">Restablecer Contraseña</ion-button>
          <ion-button expand="full" color="light" (click)="goToLogin()" class="login-button">
            Ir a Inicia sesión
          </ion-button> 
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
