<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon>
              Cerrar Sesión
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="adminh-content">
  <ion-grid class="adminh-grid">
      <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="8" size-lg="6">
              <h1 class="welcome-title ion-text-center"><h2>Bienvenido, {{ username }} (Admin)</h2></h1>
          </ion-col>
      </ion-row>

      <h3 class="adminh-description">
        El objetivo principal de la sección de administración es 
        establecer un control riguroso sobre los objetos perdidos, 
        para tener un registro la persona que lo reclame en dada situacion.
      </h3>
  </ion-grid>

</ion-content>