<ion-content class="registro-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4" class="registro-container">
        <h1 class="welcome-title">Registro</h1>
        <h2 class="subtitle">Creación de cuenta</h2>
        <ion-icon name="person-circle-outline" class="registro-icon"></ion-icon>
        <form (ngSubmit)="Registrar()" class="registro-form">
          <ion-item class="input-item">
            <ion-icon name="id-card-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">RUT (12345678-9)</ion-label>
            <ion-input [(ngModel)]="Usuario.rut" name="rut" type="text" required pattern="^[0-9]{7,8}-[0-9Kk]$"></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Nombre Completo</ion-label>
            <ion-input [(ngModel)]="Usuario.nombre_completo" name="nombre_completo" type="text" required></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="Usuario.email" name="email" type="email" required></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-icon name="lock-closed-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="Usuario.password" name="password" type="password" required></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-icon name="school-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Carrera</ion-label>
            <ion-select [(ngModel)]="Usuario.carrera" name="carrera" required>
              <ion-select-option *ngFor="let carrera of carreras" [value]="carrera.id_carrera">{{ carrera.descripcion }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="full" color="primary" type="submit" class="register-button">Registrar</ion-button>
        </form>
        <ion-button expand="full" color="light" (click)="goToLogin()" class="login-button">
          ¿Ya tienes cuenta? Inicia sesión
        </ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
